In [29]:
from IPython.display import display, clear_output
import numpy as np
import pandas as pd
import os
import random
from collections import Counter
%config Completer.use_jedi = False

from sklearn import svm
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [2]:
df_us = pd.read_csv('./data/us_gender.csv')

In [11]:
df_us.head()

  state gender  year     name  freq
0    IN      F  1910     Mary   619
1    IN      F  1910    Helen   324
2    IN      F  1910     Ruth   238
3    IN      F  1910  Dorothy   215
4    IN      F  1910  Mildred   200

In [12]:
df = df_us.groupby(['name', 'gender'], as_index = False)['freq'].sum()
df.head(5)

      name gender  freq
0    Aaban      M    12
1    Aadam      M     6
2    Aadan      M    23
3  Aadarsh      M    11
4    Aaden      M  4157

In [15]:
df.gender =  df.gender.map( lambda x: 0 if x =='M' else 1)

In [18]:
df = df.sample(frac=1).reset_index(drop=True)

In [19]:
name_nectorizer = CountVectorizer(analyzer='char', ngram_range=(2, 2))

X = name_nectorizer.fit_transform(df.name)
X = X.tocsc()
y = df.gender.values.astype(np.int)

In [24]:
nsplit = int(X.shape[0]*.8)

In [25]:
x_train = X[:nsplit]
x_test  = X[nsplit:]
y_train = y[:nsplit]
y_test  = y[nsplit:]

In [26]:
clf = MultinomialNB(alpha = 1)
clf.fit(x_train, y_train)
training_accuracy = clf.score(x_train, y_train)
test_accuracy = clf.score(x_test,y_test)

In [27]:
training_accuracy

0.7019062265298094

In [28]:
test_accuracy

0.6921756544128165

In [30]:
clf = svm.SVC(gamma=0.001)

# Learn the digits on the train subset
clf.fit(x_train, y_train)

# Predict the value of the digit on the test subset
predicted = clf.predict(x_test)

In [31]:
from sklearn.metrics import confusion_matrix

In [32]:
confusion_matrix( y_test, predicted)

array([[ 449, 2297],
       [ 142, 4103]])