https://www.ssa.gov/oact/babynames/limits.html

In [1]:
%config Completer.use_jedi = False

In [2]:
import os
import numpy as np
import pandas as pd

In [5]:
path  = './data/namesbystate/'
list_files = os.listdir(path)

In [8]:
state_df = []
for file in list_files:
    if '.TXT' not in file:
        continue
    df = pd.read_csv(path + file, index_col=False, header=None, names=['state', 'gender', 'year', 'name', 'freq'])
    state_df.append( df )

In [29]:
df_us = pd.concat( state_df )
df_us.reset_index(drop=True)

        state gender  year     name  freq
0          IN      F  1910     Mary   619
1          IN      F  1910    Helen   324
2          IN      F  1910     Ruth   238
3          IN      F  1910  Dorothy   215
4          IN      F  1910  Mildred   200
...       ...    ...   ...      ...   ...
6122885    DE      M  2019    River     5
6122886    DE      M  2019    Rocco     5
6122887    DE      M  2019    Shane     5
6122888    DE      M  2019  Syncere     5
6122889    DE      M  2019    Yasir     5

[6122890 rows x 5 columns]

In [30]:
df_us.to_csv('us_states_names.csv',index=False)

In [22]:
female = df[ df.gender == 'F']['name'].unique()

In [24]:
len(female)

21026

In [25]:
male = df[ df.gender == 'M']['name'].unique()

In [26]:
len(male)

13926

In [27]:
with open("female.txt", "w") as outfile:
    outfile.write("\n".join(female))

In [28]:
with open("male.txt", "w") as outfile:
    outfile.write("\n".join(male))